section.skills {
    .section-title {
        font-size: 3rem;
        color: #fff;
        text-align: center;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 8rem;

        @media only screen and (max-width: 991px) {
            margin-bottom: 0;
        }
    }

    .box-container {
        display: flex;
        justify-content: space-around;

        .box {
            text-align: center;
            background-color: #333766;
            border: 1px solid rgba(255, 255, 255, 0.2);
            
            @media only screen and (min-width: 991px) {
                max-width: 30%;
            }

            @media only screen and (max-width: 991px) {
                margin-top: 120px;
            }

            &:hover {
                transition: 0.4s ease-in-out;
                box-shadow: 0px 0px 20px 5px rgba(136, 136, 136, 0.52);
                transform: scale(1.015);
            }

            .image-container-rounded-1 {
                background-image: url('../../public/assets/img/front-end.jpg');
                background-size: cover;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                margin-left: -60px;
                top: -70px;
            }

            .image-container-rounded-2 {
                background-image: url('../../public/assets/img/laravel.png');
                background-size: cover;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                margin-left: -60px;
                top: -70px;
            }

            .image-container-rounded-3 {
                background-image: url('../../public/assets/img/blockchain.jpg');
                background-size: cover;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                margin-left: -60px;
                top: -70px;
            }

            .box-body {
                padding: 0;
                padding-top: 3rem;

                h5 {
                    font-size: 2.5rem;
                    color: #ffffff;
                }

                p {
                    color: #ffffff;
                    padding-bottom: 30px;
                    font-style: italic;
                }
            }

        }
    }


}