$background-color-primary: #0F0C29;
$background-color-secondary: #302B63;
$text-primary: #FFFFFF;
$text-grey: #808080;
$text-red: #C94848;
$text-green: #36C15D;
$lightblue: #17b6d9;
$lightgrey: #b1b1b1;