.footer {
    .info-container {
        padding: 5rem 3rem 2rem 3rem;
        color: $text-primary;

        .info-long {
            padding-right: 5rem;

            @media only screen and (max-width: 991px) {
                padding: 1rem;
            }

            h2 {
                font-size: 2rem;
                font-weight: 400;
                margin-bottom: 20px;
                color: #ffffff;

                @media only screen and (max-width: 991px) {
                    text-align: center;
                }
            }

            &-inner {
                p {
                    font-size: 1rem;
                    text-align: justify;
                }

                ul {
                    margin-top: 5px;
                    list-style-type: square;
                    font-style: italic;
                }
            }
        }

        .info-short {
            h4 {
                font-size: 1.75rem;
                font-weight: 400;
                margin-bottom: 20px;
                color: #ffffff;

                @media only screen and (max-width: 991px) {
                    text-align: center;
                }
            }

            &-contact {
                margin-bottom: 10px;
                
                .icon-container {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                }

                a {
                    color: #ffffff;
                }
            }
        }
    }

}